

<div class="body">

  <app-header></app-header>
    <section class="motivation-banner">
        
        <br>
        <div class="overlay">
          <h2 class="">
            <span class="white-text">CONTACT</span>
            <span class="orange-text">US</span> 
            <span class="white-text">!</span>
          </h2>
          <p style="font-size:20px;color: white;">
            Please feel free to contact us if you have any questions or need assistance.
            We're here to help and ensure your experience is seamless. Please report any issues!
          </p>
        </div>
      </section>

    <div class="my-5 px-4">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 mb-5 px-4">
                <div class="bg-white rounded shadow p-4 " >
                    <iframe class="w-100 rounded mb-4" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3196.427766008171!2d10.26734987637856!3d36.76030426994656!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd49fa15643927%3A0xad64c8c462b52435!2sHigher%20Institute%20of%20Technological%20Studies%20of%20Rades!5e0!3m2!1sen!2stn!4v1744045791563!5m2!1sen!2stn" height="320px"    loading="lazy" ></iframe>
                    <h5>Addresse</h5>
                    <a href="" target="_blank" class="d-inline-block text-decoration-none text-dark mb-2">
                        <i class="bi bi-geo-alt-fill"></i>
                        
                    </a>
    
                    <h5 class="mt-4" >Appelez nous</h5>
                    <a href="tel:" class="d-inline-block mb-2 text-decoration-none text-dark">
                        <i class="bi bi-telephone-fill"></i>  
                    </a><br>
                    
    
                   
    
                    <h5 class="mt-4">Suivez-nous</h5>
                    
    
                    <a href="" class="d-inline-block mb-3 text-dark fs-5 me-2">
                        <i class="bi bi-facebook me-1"></i>
                    </a>
                    <a href="" class="d-inline-block mb-3 text-dark fs-5 me-2">
                        <i class="bi bi-instagram me-1"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6  px-4">
                <div class="bg-white rounded shadow p-4 " >
                    <form  >
                        <div class="mb-3">
                          <label class="form-label">Nom</label>
                          <input
                            type="text"
                            formControlName="name"
                            class="form-control shadow-none"
                            required
                          />

                        </div>
                      
                        <div class="mb-3">
                          <label class="form-label">Email</label>
                          <input
                            type="email"
                            formControlName="email"
                            class="form-control shadow-none"
                            required
                          />
                        </div>
                      
                        <div class="mb-3">
                          <label class="form-label">Objet</label>
                          <input
                            type="text"
                            formControlName="subject"
                            class="form-control shadow-none"
                          />
                        </div>
                      
                        <div class="mb-3">
                          <label class="form-label">Message</label>
                          <textarea
                            formControlName="message"
                            class="form-control shadow-none"
                            rows="4"
                            required
                          ></textarea>

                        </div>
                      
                        <button type="submit" class="btn btn-primary" >Envoyer</button>
                      </form>

                    
                </div>
            </div>
    
        </div>
    </div>
    
    </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    