
<body>

  <!-- Background video -->
  <video autoplay muted loop class="video-bg">
    <source src="/gym-video.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  

  <!-- Navigation bar -->
  <app-header></app-header>

  <!-- Hero Section -->
  <div class="hero">
    <p>WORK HARDER, GET STRONGER</p>
    <h1>EASY WITH OUR <span>GYM</span></h1>
    <button data-bs-toggle="modal" data-bs-target="#registerModal">BECOME A MEMBER</button>
  </div>
  <!-- Program List Section -->
    <app-programs></app-programs>

</body>
